@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  Any custom CSS that cannot be handled by Tailwind utilities 
  can be written here, though with our setup, this will rarely be necessary. 
*/

@layer base {
  /* Ensures smooth scrolling and flawless font rendering baseline */
  html {
    scroll-behavior: smooth;
  }
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
